<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Course</title>
  <link href="css/index.css" rel="stylesheet"/>
</head>
<body>
<div class="main">
  <div class="course-title">
    Course & tutorial:
  </div>
  <div class="course-group">
    <a class="course-link js-1" href="/course/js-1"></a>
    <a class="course-link css-1" href="/course/css-1"></a>
    <a class="course-link py-1" href="/course/py-1"></a>
    <a class="course-link html-1" href="/course/html-1"></a>
    <a class="course-link bottle-1" href="/course/bottle-1"></a>
  </div>
  <div class="course-title">
    <img class="course-title-logo" src="/img/images/index/i_.png"/>
    Pratice & Quiz:
  </div>
  <div class="course-group">
    <a class="course-link js-2" href="/course/js-2"></a>
    <a class="course-link css-2" href="/course/css-2"></a>
    <a class="course-link py-2" href="/course/py-2"></a>
    <a class="course-link html-2" href="/course/html-2"></a>
    <a class="course-link bottle-2" href="/course/bottle-2"></a>
  </div>
  <div class="course-footer">CROWN LOGO represents the featured course from our website.</div>
</div>

</body>
</html>