
<center>
    <p>
        <form action="/message" method="post">
        <br>
        <div>Type in the user you want to chat with: (id) </div>
        <input name="receiver" type="text" required="required"/>
        </br>
    
        <br>
        <input value="search" type="submit" />
        </form>
        
        <br>
        <div><b>Your ID</b></div>
        ${loggedin}
        <br>
        <br>
        <div><b>Contacts</b></div>
        ${activeusers}
    
    </p>
</center>
    
    
    