<center>
Sign up
<p>
<form action="/signup" method="post">

    <br>
        <div>Email</div>
        <input name="email" type="text" required = "required" />
    </br>

    <br>
        <div>Password</div>
        <input name="password" type="password" required = "required" />
    </br>

    <br>
        <div>Confirm password</div>
        <input name="confirmpassword" type="password" required = "required" />
    </br>

    <br>
        <div>Display name</div>
        <input name="displayname" type="text" required = "required" />
    </br>

    <br>
        <div>Safety Question</div>
        <select name="question" type="text">
            <option value="signup_year">What is the year you signed up?</option>
            <option value="pet_name">What is your first pet name?</option>
            <option value="birth_place">What is your birth place?</option>
        </select>  
    </br>

    <br>
        <div>Safety Answer</div>
        <input name="answer" type="text" required = "required" />
    </br>
    <br>
        <input value="Sign up" type="submit" />
</br>    
</form>
</p>
</center>
    
    